---
import Layout from '../components/Layout.astro';
import Hero from '../components/Hero.astro';
import MediaRow from '../components/MediaRow.astro';
import RecentlyWatched from '../components/RecentlyWatched.astro';
import { discoverMovies, discoverTv } from '../lib/tmdb';
import '../styles/pages/home.css';

const [movies, series] = await Promise.all([
  discoverMovies().catch((): [] => []),
  discoverTv().catch((): [] => []),
]);

const featured = movies[0];
---

<Layout title="Home" shows={[...movies, ...series]}>
  <main class="home-page">
    {featured && <Hero show={featured} />}

    <div class="home-page__rows">
      <RecentlyWatched />
      <MediaRow title="Movies" shows={movies} />
      <MediaRow title="Series" shows={series} />
    </div>
  </main>
</Layout>
